@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,700,700italic&subset=latin,cyrillic);

* {
  outline: 0;

  &, ::after, ::before {
    box-sizing: border-box;
  }
  &::before {
    content: '';
    display: table;
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #000;

  background-image: url('../images/bg.jpg');
}

.grid {
  margin: 0 -10px;
}

input {
  width: 100%;

  color: #000;
  font-size: 1em;
  line-height: 1.5em;

  padding: 6px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #c1c1c1;

  transition: border 350ms, box-shadow 350ms;

  &:focus, &:active {
    border-color: rgb(142, 36, 170);
    box-shadow: 0 0 10px rgba(142, 36, 170, .5);
  }
}

.dropdown {
  background-color: #fff;
  cursor: pointer;

  width: 0;
  min-width: 300px;
  position: relative;

  transition: background 350ms;

  &__button {
    span {
      display: block;
      margin: 1em;
      padding-right: 20px;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-arrow {
      position: absolute;
      right: 10px;
      top: 50%;
      overflow: hidden;

      width: 16px;
      height: 8px;
      margin: -4px 0 0;

      &::before {
        position: absolute;
        content: ' ';
        width: 12px;
        height: 12px;
        border: 1px solid #c1c1c1;
        transform: rotate(45deg) translate(3px, 3px);
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;

        transition: transform 150ms;
      }
    }
  }

  &__content {
    position: absolute;
    visibility: hidden;

    padding: 10px;
    width: 360px;

    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0,0,0,.4);

    transition: transform 150ms, opacity 150ms, visibility 150ms;
    transform: translateY(-10px);
    opacity: 0;

    &-column {
      width: 50%;
      float: left;
      padding: 0 10px;
      position: relative;

      &:first-child::after {
        background: #999;
        position: absolute;
        content: ' ';
        width: 10px;
        height: 1px;
        right: -5px;
        top: 16px;
      }

      &__list {
        margin: 6px 0 0;
        padding: 0;
        list-style: none;
        color: #c1c1c1;

        li {
          padding: 6px 4px;

          &:hover {
            background-color: #f9f9f9;
          }
        }
      }

      // Вот по причине такой извращенств я иногда не люблю писать БЭМ на SASS`е =(
      input:focus + .dropdown__content-column__list {
        color: #000;
      }
    }
  }

  &.open {
    .dropdown {
      &__button-arrow::before {
        transform: rotate(45deg) translate(-3px, -3px);
      }
      &__content {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &:hover {
    background-color: #f9f9f9;
  }
}

// injector
// endinjector